.sidebar {
  position: fixed;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  background-color: var(--white);
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: var(--color-scroll-sidebar);
}

.sidebar > hr {
  margin: 0;
  color: var(--grey-tertiary);
}

.logo-brand {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 0 40px 40px;
}

.title-store {
  font-weight: 600;
  font-size: 18px;
  color: var(--navy);
  line-height: 27px;
}

.tagline-store {
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-primary);
}

.menu {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section-menu {
  display: flex;
  flex-direction: column;
}

.section-menu > p {
  padding-left: 40px;
}

.item-menu {
  gap: 18px;
  display: flex;
  padding: 12px 40px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  align-items: center;
  color: var(--grey-primary);
}

.item-menu.active::before {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  width: 18px;
  position: absolute;
  border-radius: 4px;
  transform: translateX(-50%);
  background-color: var(--blue-primary);
}

.dark .item-menu:hover,
.item-menu:hover {
  color: var(--blue-primary);
}
.dark .item-menu.active{
  font-weight: 600;
  color: white;
  background: linear-gradient(to left, #6f6fff 0%, #ffffff04  100%);
  border-radius: 0 10px 10px 0;
}
.item-menu.active {
  font-weight: 600;
  color: var(--blue-primary);
  background: linear-gradient(to left, #c1c1ff 0%, #ffffff04  100%);
  border-radius: 0 10px 10px 0;
}
.circle-notif {
  width: 25px;
  height: 25px;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  color: var(--blue-primary);
  background-color: var(--blue-secondary);
}

.sidebar footer {
  padding: 40px 40px 60px;
  color: #c5c5c5;
}

.label-mode {
  color: var(--grey-primary);
}

.toggle-theme {
  opacity: 0;
  position: absolute;
}

.label-toggle {
  width: 60px;
  height: 34px;
  background-color: #6e6e6e;
  display: flex;
  border-radius: 50px;
  padding: 4px;
  position: relative;
}

.label-toggle::before {
  content: '';
  aspect-ratio: 1/1;
  height: calc(100% - 8px);
  background-color: var(--white);
  position: absolute;
  border-radius: 20px;
  transition: transform 0.2s linear;
}

.toggle-theme:checked + .label-toggle::before {
  transform: translateX(100%);
}

.ic-theme {
  z-index: 2;
}
